@model RecipeListingViewModel

@using System.Text.RegularExpressions
@{
    ViewData["Title"] = "All Recipes";
}
<h1>@ViewData["Title"]</h1>
<p><a asp-action="Add" class="btn btn-success">Add Recipe</a></p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Post Date
            </th>
            <th>
                Title
            </th>
            <th>
                Image
            </th>
            <th>
                Content
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recipe in Model.Recipes)
        {
            <tr>
                <td>
                    @recipe.PublishDate.ToShortDateString()
                </td>
                <td>
                    @recipe.Title
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(recipe.ImageName))
                    {
                        <img src="/recipes/@recipe.ImageName" width="65" class="img-responsive">
                    }
                </td>
                <td>
                    @{
                        recipe.Content = Regex.Replace(recipe.Content, "<.*?>", String.Empty);
                        var contentLenght = recipe.Content.Length > 100 ? 100 : recipe.Content.Length;
                    }
                    @Html.Raw(recipe.Content.Substring(0, contentLenght))
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@recipe.Id">edit</a><br />
                    <a asp-action="Deteil" asp-route-id="@recipe.Id">view</a><br />
                    <a asp-action="Delete" asp-route-id="@recipe.Id">delete</a><br />
                </td>
            </tr>
         }
    </tbody>
</table>

@if (Model.TotalRecipes > Model.Recipes.Count())
{
    <ul class="pagination">
        <li class="@(Model.CurrentPage == 1 ? "disabled" : string.Empty)">
            <a asp-route-page="@Model.PreviousPage"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @{
            int totalPages = (int)Math.Ceiling((double)Model.TotalRecipes / WebConstants.PageSize);
        }
        @for (int p = 0; p < totalPages; p++)
        {
            <li>
                <a asp-route-page="@(p+1)">
                    @(p + 1)
                </a>
            </li>
        }
        <li class="@(Model.CurrentPage == Model.TotalPages ? "disabled" : string.Empty)">
            <a asp-route-page="@Model.NextPage"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
}